.footer {
    position: relative;
    bottom: 110px;
    display: flex;
    margin-left: 15px;
    color: white;
    z-index: 1;
}

.footer__text {
    flex: 1;
}

.footer__text > h4 {
    padding-bottom: 15px;
}

.footer__text > p {
    width: 55vw;
    padding-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer__ticker > .ticker {
    margin-top: -4px;
    margin-left: 35px;
    margin-right: 80px;
    text-align: center;
}

.footer__ticker p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.footer__record {
    position: absolute;
    top: 60px;
    height: 30px;
    filter: invert(1);
    animation: spin-record infinite 5s linear;
}

@keyframes spin-record {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
