.App {
    display       : flex;
    flex-direction: column;
    height        : 100vh;
    width         : 100%;
    text-align    : center;
}

.app__title {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 10px
}

.app__messages {
    flex-grow : 1;
    overflow-y: scroll;
}