.message {
    padding: 10px;
    margin : 10px;
    width  : fit-content;
}

.message__me {
    margin-left: auto;
    color      : white;
    text-align : right !important;
}

.message__card {
    background-color: #e9e9eb !important;
}

.message__card-me {
    background-color: #0b81ff !important;
}