.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 15px;
}

.message__photo {
    order: 0;
}

.message > p {
    padding: 15px;
    margin: 10px;
    font-size: medium;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.message > small {
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 11px;
    white-space: nowrap;
    color: gray;
}

.message__me {
    margin-left: auto;
}

.message__me > .message__photo {
    order: 1;
    margin: 15px;
}

.message__me > p {
    margin-right: auto;
    background-color: #3cabfa;
    color: white;
}
