.post {
    background-color: white;
    max-width: 600px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__image {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.post__comments {
    padding: 20px;
}

.post__text {
    font-weight: normal;
    padding: 20px;
    padding-top: 15px;
}

.post__comment-box {
    display: flex;
}

.post__input {
    flex: 1;
    border-radius: 0%;
}
